* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: white;
}
@keyframes sliderOut {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes sliderInt {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes slider_threeOut {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes slider_threeInt {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

/* Add these styles if needed */
.active {
  animation: sliderInt 0.5s forwards;
}

img:not(.active) {
  animation: sliderOut 0.5s forwards;
}
